#ignores everything in data folder, a subfolder of the .gitignore folder
/data/**

temp.py

# ignores all .txt files JUST in the current folder
/*.txt

*.txt

# What to put in .gitignore
# https://zellwk.com/blog/gitignore/